footer {
    height: 15%;
    background: #1e2b38;
    text-align: center;
    box-shadow: 3px 3px 10px rgb(5, 87, 182);
    margin-top: -1.%;
}

#redes-sociales {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 10px rgb(43, 135, 241);
}

footer a {
    color: white;
    width: 100px;
    padding: 15px 0;
    margin: 0 20px;
    font-size: 30px;
    border-radius: 3px;
}

footer .twitter:hover {
    background: #1da1f2;
}
footer .facebook:hover {
    background: #3b5998;
}
footer .instagram:hover {
    background: rgb(158, 55, 184);
}

ul li {
    margin-top: 10px;
    list-style: none;
}
